Package: primevideo-firefox
Version: 1.0.0-1big4
Depends: firefox|firefox-esr, x11-utils
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:120
Description: Open Amazon Prime Video in Firefox like a webapp

